<div>
    <form #form="ngForm" [formGroup]="loginForm" class="form" (submit)="login()">
        <div class="form-group">
            <p>Login:</p>
            <input formControlName="loginUsuario" type="text" class="form-control">
        </div>
        <div class="form-group">
            <p>Senha:</p>
            <input formControlName="senhaUsuario" type="password"  class="form-control">
        </div>
        <button>Logar</button>
    </form>
    <p><a [routerLink]="['cadastro-usuario']">Crie uma conta!</a></p>
</div>