<p class="text-center text-muted" *ngIf="!tarefas.length"> 
    Lista sem itens!
</p>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let tarefa of tarefas">
                <p>Nome: {{ tarefa.nome }}</p>
                <p>Descrição: {{ tarefa.descricao }}</p>
                <div *ngIf="tarefa.status; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock><p>Status: Tarefa concluída</p></ng-template>
                <ng-template #elseBlock><p>Status: Tarefa pendente</p></ng-template>
                <p>
                    <a class="clickable succes-anchor" 
                        (click)="concluir(tarefa.id)">Trocar Status
                    </a>
                </p>
                <p>
                    <a class="clickable danger-anchor" 
                        (click)="deletar(tarefa.id)">Deletar Tarefa
                    </a>
                </p>
        </li>
    </ul>
</div>