/* You can add global styles to this file, and also import other style files */
.clickable {
    cursor: pointer;
}
.succes-anchor {
    color: green !important;
}
.danger-anchor {
    color: red !important;
}
.dp-inlineb {
    display: inline-block
}
.float-right {
    float: right;
}
